/* цвет основного цвета  #000000 */

/* вторичный цвет текста rgba(0, 0, 0, 0.8); */

/* цвет акцента #18A0FB */

/* белый #FFFFFF */

/* вторичный цвет фона  #F5F5F5 */


:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18A0FB;
    --primary-white-color: #fff;
}


body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

}

.list {
    list-style: none;
}



/* Logo */

.logo {
    color: var(--title-text-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

/* Site nav */

.site-nav .link {
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}

.site-nav .link.current {
    color: var(--title-text-color);
}

/* Button */

.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
}

.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);

}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
}